/* @import url('https://fonts.googleapis.com/css?family=VT323&display=swap'); */

::-webkit-scrollbar
{ width : 15px
}

::-webkit-scrollbar-track
{ background : #101010
}

::-webkit-scrollbar-thumb
{ background : #ffffff
}

html
{ font-family : courier
; font-size   : 16px
}

body
{ background-color : #000000
; color            : #ffffff
; vertical-align   : middle
; align-content    : center
; margin           : 0px 0px 0px 0px
}

::placeholder
{ color : #ffffff
}

tr:hover a
{ text-decoration: underline
}

a
{ text-decoration : none
; color           : #ffa500
}

a:hover
{ text-decoration : underline
}

p
{ font-weight : normal
; list-style  : none outside none
; padding     : 0px 0px 0px 0px
}

ul
{ margin-top    : 0
; margin-bottom : 0
}

select
{ border      : 1px solid #ffa500
; margin      : 0px 0px 0px 0px
; padding     : 0px 0px 0px 0px
; background  : #000000
; color       : #ffa500
; font-family : courier
; font-size   : 16px
; outline     : none
; width       : 200px
}

button
{ border      : 1px solid #000000
; margin      : 0px 0px 0px 0px
; padding     : 0px 0px 0px 0px
; background  : #ffa500
; color       : #000000
; font-family : courier
; font-size   : 16px
; outline     : none
}

button:hover
{ background : #000000
; color      : #ffa500
}

input
{ border      : 0px
; margin      : 0px 0px 0px 0px
; padding     : 0px 0px 0px 0px
; outline     : none
; font-family : courier
; font-size   : 16px
; height      : 23px
; color       : #ffa500
; background  : #000000
}

.windowFrame
{ border   : 1px solid #ffa500
; height   : 768px
; width    : 1024px
; position : absolute
}

.windowHeader
{ background : #101530
; color      : #ffa500
}

.windowBody
{ height : calc(100% - 20px)
; width  : 100%
; overflow-wrap : break-word
}

.windowResize
{ position : absolute
; color    : #ffa500
; bottom   : -3px
; right    : 0
; cursor   : pointer
}

.windowHdrGrp
{ display    : inline-block
; right      : 3px
; position   : absolute
}

.windowHdrBtn
{ display : inline-block
; cursor  : pointer
}

.deskToolbar
{ background : #101530
; color      : #ffa500
; width      : calc(100% - 2px)
; z-index    : 20000
; position   : fixed
}

.deskButton
{ border     : 1px solid #ffa500
; background : #000000
; color      : #ffa500
; height     : 20px
; z-index    : 30000
; display    : inline-block
}

.console
{ width      : calc(100% - 10px)
; height     : calc(100% - 10px)
; padding    : 5px 5px 5px 5px
; background : #000000
}

.NewsTable
{ white-space : nowrap
; width       : calc(100% - 20px)
; font-family : courier
; font-size   : 16px
}

.GanttChart
{ position : relative
}

.GanttEndYear
{ border : 1px solid #ffa500
; width  : 40px
; height : 20px
}

.GanttToolbar
{ position         : fixed
; background-color : #000000
}

.outtext
{ border     : 0px
; overflow   : auto
; width      : 100%
; height     : calc(100% - 130px)
; position   : relative
; box-sizing : border-box
; display    : block
}

.newsdiv
{ height   : 110px
; position : relative
; display  : block
}

.newshdr
{ background-color : #101530
; position         : relative
; text-align       : right
; cursor           : pointer
}

.newspnl
{ background-color : #060617
; height           : calc(100% - 20px)
; display          : block
; overflow-x       : hidden
; overflow-y       : hidden
; white-space      : nowrap
}

.cmdSelect
{ width  : 100%
}

.mapdata
{ border     : 0px
; margin     : 0px 0px 0px 0px
; padding    : 0px 0px 0px 0px
; width      : 250px
; height     : calc(100% - 26px)
; float      : left
; font-size  : 16px
; overflow   : auto
; position   : absolute
; background : #0a0a19
}

.mapframe
{ border           : 0px
; margin           : 0px 0px 0px 0px
; padding          : 0px 0px 0px 0px
; height           : calc(100% - 26px)
; width            : calc(100% - 250px)
; position         : absolute
; float            : left
; background-color : #aad3df
; left             : 250px
}

.mapselect
{ height   : 26px
; width    : 250px
; float    : left
}

.mapbtn
{ height : 26px
; width  : 60px
; float  : left
; cursor : pointer
}

.maptools
{ height     : 26px
; width      : 100%
; border     : 0px
; margin     : 0px 0px 0px 0px
; padding    : 0px 0px 0px 0px
; box-sizing : border-box
}

.tabencl
{ height     : 100%
; width      : 100%
; box-sizing : border-box
; position   : relative
}

.tabfrme
{ border           : 0px
; box-sizing       : border-box
; height           : 25px
; width            : calc(100% - 20px)
; position         : fixed
; background-color : #000000
}

.tabbtns
{ height : 25px
; float  : left
}

.bdyfrme
{ border   : 0px
; height   : calc(100% - 26px)
; width    : 100%
; position : absolute
; top      : 25px
}

.yearTag, .ctryTag
{ cursor : pointer
; color  : #ffa500
}

.yearTag:hover, .ctryTag:hover
{ text-decoration : underline
}

.maphover
{ border      : 1px solid #000000
; background  : #ffa500
; color       : #000000
; font-family : courier
; font-size   : 16px
}

.GanttTable
{ font-family    : courier
; font-size      : 12px
; text-align     : left
; border-spacing : 0px
; position       : relative
; top            : 15px
}

.GanttTable td
{ height : 25px
; width  : 25px
; border : 1px dotted #ffa500
}

.GanttTable tr:nth-child(even)
{ background-color : #0f0f0f
}

.GanttTable th
{ vertical-align : bottom
}

.GanttHeader
{ border-bottom  : 1px dotted #ffa500
; height         : 50px
}

.GanttHeader > div
{ transform     : translate(24px, -9px) rotate(315deg)
; border-bottom : 2px dotted #ffa500
}

.ctryLabel
{ white-space : nowrap
}

.ctryEvent
{ color  : #ffffff
; cursor : pointer
}

.ctryEvent:hover
{ color : #ffa500
}

.ctryFlag
{ height         : 25px
; width          : 25px
; vertical-align : middle
}

.tooltip
{ position : relative
; display  : inline-block
}

.tooltip .tooltiptext
{ visibility    : hidden
; width         : 225px
; font-family   : courier
; font-size     : 12px
; background    : #000000
; color         : #ffa500
; text-align    : left
; border-radius : 2px
; padding       : 5px 0
; position      : absolute
; top           : 10px
; left          : 10px
; border        : 1px solid #ffa500
; z-index       : 0
}

.tooltip .tooltiptext::after
{ position         : absolute
; top              : 50%
; left             : 100%
; margin-top       : -5px
; font-family      : courier
; font-size        : 12px
; color            : #000000
}

.tooltip:hover .tooltiptext
{ visibility : visible
; z-index    : 1
}

.menubtn
{ border     : 0px
; padding    : 0px 0px 0px 0px
; margin     : 0px 0px 0px 0px
; background : #000000
; color      : #ffa500
; width      : 20px
; height     : 28px
; float      : left
}

.menudiv
{ border       : 0px
; padding      : 0px 0px 0px 0px
; margin       : 0px 0px 0px 0px
; background   : #000000
; color        : #ffa500
; width        : 20px
; height       : 27px
; float        : left
}

.vstr
{ white-space : nowrap
; font-family : monospace
; font-size   : 12px
}

.xmark
{ animation  : blink 1s infinite
; color      : #ffa500
}

@keyframes blink
{  0% { opacity: 0.0 }
 100% { opacity: 1.0 }
}
