.feedEkList{
	width:1;
	list-style:none outside none;
	background-color:#FFFFFF;
	padding:4px 6px;
	text-indent: 4em;
	color:#3E3E3E;}

.feedEkList li{
	padding:5px;}
	
.feedEkList li:last-child{
	border-bottom:none;}
	
.itemTitle a{font-weight:bold;
	color:#505050 !important;
	text-decoration:none;}
	
.itemTitle a:hover{
	text-decoration:underline;}
	
.itemDate{
	font-size:11px;
	color:#AAAAAA;} 