html {
	font-family: calibri;
	text-align: left;
    vertical-align: top;
	text-decoration: none;
	font-size: 14px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

table {
	border-collapse: collapsed;
	padding: 0px;
	height: 100%;
	width: 800px;
}
	
h1 {
	color: rgb(100, 100, 100);
	margin-left: 5px
}
	
h2 {
	color: rgb(120, 120, 120);
	margin-left: 10px;
}
	
h3 {
	color: rgb(130, 130, 130);
	margin-left: 15px;
}
	
p {
	margin-left: 20px;

	font-weight: normal;
	padding: 5px;
}
	
a {
  	text-decoration: none;
}

.feedEkList {
	list-style: none outside none;
	padding: 5px 5px;
	margin-left: 15px;
	color: rgb(255, 255, 255);
}

.feedEkList li {
	padding: 5px;
}
	
.itemTitle a {
	font-weight: normal;
	color: rgb(25, 25, 25) !important;
	text-decoration: none;
}
	
.itemTitle a: hover{
	text-decoration: underline;
}
	
.itemDate{
	font-size: 12px;
	color: rgb(35, 35, 35);
}

img.icon {
	height: 25px;
	width: 25px;
}

#bgImg {
	position: fixed;
	width: 2580px;
	height: 2048px;
	opacity: 0.20;
}

#viewBlog,
#viewAcad,
#viewTwtr,
#viewYtbe {
	display: none;
}
		
#selectorPane {
	position: fixed;
	left: 0px;
	width: 300px;
	vertical-align: top;
}

#contentPane {
	position: relative;
	color: rgb(90, 90, 90);
	left: 310px;
	height: 100%;
	vertical-align: top;
	horizontal-align: left;
}

#contentList li {
	display: inline;
}