html {
	text-decoration: none;
	vertical-align: top;
	font-size: 12px;
}
body {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
}
table {
	border-spacing: 0px;
	height: 100%;
	width: 100%;
}
h1, h2, h3, h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}
p {
	font-weight: normal;
	list-style: none outside none;
	margin-left: 15px;
	padding: 5px 5px;
	text-align: justify;
}

a {
	text-decoration: none;
}
.fLst {
	width: 720px;
	list-style: none outside none;
	border: 0px;
	padding: 1px 1px;
}
.fLst li {
	border-bottom: 1px solid rgb(230, 230, 230);
}
.fTle a {
	font-weight: bold;
	color: rgb(50, 50, 50) !important;
	text-decoration: none;
	width: 720px;
	word-wrap: break-word;
}
.fTle a: hover {
	text-decoration: underline;
}
.fDte {
	font-size: 11px;
	color: rgb(50, 50, 50);
}
img.icon {
	mix-blend-mode: multiply;
	width: 25px;
	height: 25px;
}
#profile {
	height: 150px;
	width: 150px;
	float: left;
	padding: 10px;
}

#pageBody {
	width: 720px;
}
#selPane {
	font-weight: bold;
	text-align: center;
	width: 144px;
	font-size: 12px;
	
}
#iconTd {
	text-align: right;
}
#textTd {
	text-align: left;
	color: rgb(50, 50, 50) !important;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)
  and (orientation: portrait) {
	table {
		border-spacing: 0px;
		height: 100%;
	}
	#pageBody {
		width: 360px;
		max-width: 360px;
	}
	img.icon {
		mix-blend-mode: multiply;
		width: 25px;
		height: 25px;
	}
	.fLst {
		width: 360px;
	}
	.fTle a {
		width: 360px;
	}
	#iconTd {
		text-align: center;
	}
	#textTd {
		display: none;
	}
}
